{% extends "core/base.html" %}
{% load static %}
{% block title %}main{% endblock  %}
{% block content %}
    <main>
        <h1 class="text_title text-center mt-3">Cuphead</h1>
        <p class="text_about ms-5 me-5 text-center"><a href="https://store.steampowered.com/app/268910/Cuphead/" class="text-light">Cuphead</a>- shoot 'em up-игра, основанная на непрерывных боях c боссами. Персонаж игрока, Чашек, проиграл в споре c дьяволом и пытается вернуть долг. Игра имеет вид разветвляющейся последовательности уровней.У Чашека бесконечное число попыток, и он не теряет оружие после смерти. У главного героя игры есть способность парирования различных объектов, закодированных розовым цветом. Успешные парирования заполняют специальный счётчик, который позволяет ему выполнять специальную способность. Уровни доступны через внешний мир в стиле action RPG, который имеет собственные секретные пути</p>
    </main>
{% endblock  %}
